PyYAML
antlr4-python3-runtime==4.7.1
# eam-data-tools
graphviz==0.8
matplotlib>=2.0.2,<3.2.2
networkx==1.11
numpy==1.18.0
openpyxl
pandas==0.24.2
# pint
# pint-pandas
pydotplus==2.0.2
pypandoc>=1.4
ruamel.yaml
scipy
simplejson
tables>=3.4.4
tabulate>=0.7.7
tzlocal
